
li {
  color: #ffffff;/*white*/
}

h3{
margin-left: 10%;
}

h4{
margin-left: 10%;
}

p {
  color:#0000EE; /*bright blue*/
}

/*home page*/
.jumbotron {
  display: flex;
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/On%20the%20way%20to%20Fontana%20Dam.jpg?raw=true);
  background-size: cover;
  color: #000000;/*black*/
  height: 100%;
  text-shadow: 0.25px 0.25px 0.25px #000000;/*black*/
  margin-top: 2.5%;
  margin-bottom: 0;
}

.row {
  margin-top: 0;
  margin-bottom: 15%;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: 700;
  padding-top: 10%;
  color: #000000;/*black*/
}

.jumbotron p {
  margin-left: 38%;
  color: #FFFF00; /*yellow*/
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #000000;/*black*/
  text-shadow: none;
  background-color: #ffffff;/*white*/
}

.jumbotron h3 {
  margin: 0 0 8px;
  color: #000000;/*black*/
}

/*nutrition*/
.jumbotron-special {
  display: flex;
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/CAM00329.jpg?raw=true);
  background-size: cover;
  color: #000000;/*black*/
  text-shadow: 0.25px 0.25px 0.25px #000000;/*black*/
  margin-top: 2.5%;
  margin-bottom: 0;
}

.jumbotron-special p {
  color:#0000EE; /*bright blue*/
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
  margin-top:5%;
  margin-left: 29%;
  margin-right: 5%;
}

/*about me*/
.jumbotron-aboutme {
  display: flex;
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/LeConte-1.JPG?raw=true);
  background-size: cover;
  color: #000000;/*black*/
  margin-top: 2.5%;
  margin-bottom: 0;
}

.container-aboutme {
  margin: 10 10;
}

.container-aboutme .col-sm-9 {
  position: relative;
  padding-top: 0;
  padding-left: 5%;
  padding-right:5%;
}

.container-aboutme .col-sm-3 {
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-top:2.5%;
  padding-top: 0;
  padding-left: 5%;
  padding-right:5%;
}

.jumbotron-aboutme h3 {
  font-family: "Lato",sans-serif;
   color:#0000EE; /*bright blue*/
   text-shadow: 0 0 .4em #ccc, 0 0 .3em #ccc, 0 0 .2em #ccc;
  }

.jumbotron-aboutme h4 {
  font-family: "Lato",sans-serif;
  color:#0000EE; /*bright blue*/
  text-shadow: 0 0 .4em #ccc, 0 0 .3em #ccc, 0 0 .2em #ccc;
  }

.jumbotron-aboutme p {
  font-family: "Lato",sans-serif;
  font-size: 13pt;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 0 .4em #ccc, 0 0 .3em #ccc, 0 0 .2em #ccc;
  padding: 0px;
  margin-top:5%;
  margin-left: 29%;
  margin-right: 5%;
}

/*races*/
.container-races {
w  margin-top: 3.75%;
  color: #ffffff;/*white*/
}

.container-races p{
  margin-top:5%;
  color: #ffffff;/*white*/
}

.container-races #races {
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/The%20Start.jpg?raw=true);
  background-size: cover;
}

.container-races #signup {
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/Fiery%20Gizzard%20Start%20Group6.JPG?raw=true);
  background-size: cover;
}

/*training*/
.container-training {
  display: flex;
  position: relative;
  align-items: top;
  /*color: #000000;black*/
  color: #ffffff;/*white*/
  height: 100%;
  /*text-shadow: 0.25px 0.25px 0.25px #000000;black*/
  margin-top: 5%;
  margin-bottom: 0;
}

.container-training  h1 {
  text-align: center;
  padding-left: 5%;
}

.container-training  h4 {
  text-align: center;
}

.container-training  p {
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}

.container-training .row-training {
  width: 25%;
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/Me%20at%20MCTU15.jpg?raw=true);
  background-size: cover;
}

/*Adventure Runs*/
.container-adventures #heading {
  display: flex;
  position: relative;
  align-items: top center;
  background-image: url(https://github.com/JackSayles/Images/blob/master/Cold%20Clingmans%20Dome%2011-14-15.jpg?raw=true);
  background-size: cover;
  height: 45%;
  width: 80%;
  margin: 4% 10%;
}

.jumbotron-adventures p {
  color: #000000;
  margin: 4% 10%;
}

.container-adventures #footpic {
  display: flex;
  position: relative;
  align-items: top center;
  background-image: url(https://github.com/JackSayles/Images/blob/master/Josh%20and%20I%2011-14-15.jpg?raw=true);
  background-size: cover;
  height: 449px;
  width: 598px;
  margin: 0% 20%;
  }

/*Gear*/
.container-gear {
  margin: 5%;
}

.row-gear {
  display: flex;
  position: relative;
  margin-top: 5%;
}
