/*Gear*/
h2 {
text-align:center;
}

.jumbotron {
  display: flex;
  position: relative;
  align-items: top;
  color: #000000;/*black*/
  height: 100%;
  margin-top: 2.5%;
  margin-bottom: 0;
}

.container-gear {
  margin: 5%;
}

.row {
  display: flex;
  position: relative;
  margin-top: 5%;
}
