/*Training*/
.container-gear {
  margin: 5%;
}

.row {
  display: flex;
  position: relative;
  margin-top: 5%;
}

.container-training {
  display: flex;
  position: relative;
  align-items: top;
  color: #000000;/*black*/
  height: 100%;
  margin-top: 5%;
  margin-bottom: 0;
}

.container-training  h2 {
  color:#000000;
  text-align: center;
  padding: 5%;
}

.container-training  h4 {
  color:#000000;
  text-align: center;
}

.container-training  p {
  color:#000000;
  text-align: left;
  margin-left: 10%;
  margin-right: 5%;
}

.container-training .col-sm-4 {
  position: relative;
  align-items: top;
}

.img-responsive{
  display:block;
  max-width:100%;
  height:auto;
}

.figcaption {
  color: #ffffff;
  text-align: center;
}

/*How I Train*/

.jumbotron-itrain {
  display: flex;
  position: relative;
  align-items: top;
  background-size: cover;
  color: #000000;/*black*/
  height: 100%;
  margin-top: 2.5%;
  margin-bottom: 0;
}

.jumbotron-itrain h3{
  text-align: center;
  padding: 5%;
}

.jumbotron-itrain p {
  margin-left: 5%;
  margin-right: 5%;
}



