li {
  color: #ffffff;/*white*/
}

h1 {
  padding-top: 5%;
  text-align: center;
}

h3{
margin-left: 10%;
}

h4{
margin-left: 10%;
}

/*p {
  color:#0000EE; /*bright blue*/
}*/

.row {
  margin-top: 0;
  margin-bottom: 15%;
}

.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  color: #ffffff; /*white*/
  text-shadow: none;
  background-color: #000000;/*black*/
}

.li .btn btn-primary dropdown-toggle {
  border-radius: 0px;
  border: 0px;
  color: #ffffff;/*white*/
  text-shadow: none;
  background-color: #000000;/*black*/
}

.caret {
  color: #ffffff; /*white*/
}

.col-sm-6 {
  margin: 0 0 30px;
}

/*races*/
.container-races h3{
  margin-top: 7%;
  color: #ffffff;/*white*/
}

.container-races p{
  margin-top:2.5%;
  color: #ffffff;/*white*/
}

.container-races #races {
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/The%20Start.jpg?raw=true);
  background-size: cover;
  margin-top: 4%;
  margin-bottom: 0;
}

.container-races #signup {
  position: relative;
  align-items: top;
  background-image: url(https://github.com/JackSayles/Images/blob/master/Fiery%20Gizzard%20Start%20Group6.JPG?raw=true);
  background-size: cover;
  margin-top: 4%;
  margin-bottom: 0;
}
